*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	/* height: 100vh; */
	flex-direction: column;
	padding: 0;
	margin: 0;
	justify-content: center;
}

header {
	/* margin-top: 50px; */
	padding: 20px 0;
	justify-content: center;
	display: flex;
}

.lib-container {
	/* height: 800px; */
	background-color: lightcyan;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.lib-body {
	/* height: 700px; */
	width: 800px;
	background-color: rgb(224, 224, 224);
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 15px;

}

/* #form-library {
	display: none;
}

.form-none {
	display: none ;
}

.form-initial {
	display: initial;
} */

.form-row {
	display: flex;
	align-items: center;
}

.form-row-button {
	display: flex;
	justify-content: center;
}

.form-row label {
	width: 10%;
}

.form-row input {
	width: 80%;
	padding: 5px;
	margin: 10px;
}

.form-row input:focus {
	outline: 1px solid black;
}

button[type='submit'], #form-toggle {
	padding: 5px 20px;
	/* margin: 0 auto; */
	margin: 10px 0;
	background-color: lightcoral;
}

.btn-container {
	display: flex;
	justify-content: center;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
}

.table-container {
	width: 100%;
}

.table {
	list-style: none;
}

.table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.table .table-header {
	background-color: lightblue;
	font-size: 14px;
	text-transform: uppercase;
}

.table .table-row {
	background-color: snow;
	font-size: 14px;
}

.table .col-1 {
	flex-basis: 30%;
}
.table .col-2 {
	flex-basis: 30%;
}
.table .col-3 {
	flex-basis: 20%;
}
.table .col-4 {
	flex-basis: 20%;
}
